<body bgcolor="#E6E6FA">
{% extends "layout.html" %}

{% block left %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/line">春/夏/秋/冬/旅游成本指数省份</a></li>
        <li><a href="/bar">游客餐饮信息获取渠道/旅游平台网站考虑,因素</a></li>
        <li><a href="/pie">国内旅游收入分布情况"城镇居民/农村居民"</a></li>
        <li><a href="/bar_3">国内旅游人数情况/出境旅游</a></li>
        <li><a href="/bar_4">旅行社团内旅游组团人数和接待人数</a></li>
    </ul>
</div>
{% endblock %}

{% block right %}
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">旅游分析-数据可视化</h1>

</div>
{% endblock %}
</body>
