{% extends "layout.html" %}

{% block left %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="active">春/夏/秋/冬/旅游成本指数省份</a></li>
        <li><a href="/bar">游客餐饮信息获取渠道/旅游平台网站考虑,因素</a></li>
        <li><a href="/pie">国内旅游收入分布情况"城镇居民/农村居民"</a></li>
        <li><a href="/bar_3">国内旅游人数情况/出境旅游</a></li>
        <li><a href="/bar_4">旅行社团内旅游组团人数和接待人数</a></li>
  </ul>
</div>
{% endblock %}        
        
{% block right %}
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">{{title}}</h1>

  <div class="row placeholders">
        <!--展示区-->
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart-container" style="height:500px;" id="8c54f47a73e64c9cb4dfe5d08b609622">

    </div>

  </div>
</div>
{% endblock %}

{% block echarts_js %}
<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/purple-passion.js"></script>

<script>

        var chart_8c54f47a73e64c9cb4dfe5d08b609622 = echarts.init(
            document.getElementById('8c54f47a73e64c9cb4dfe5d08b609622'), 'purple-passion', {renderer: 'canvas'});
        var option_8c54f47a73e64c9cb4dfe5d08b609622 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\u6625\u5b63",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5409\u6797",
                    90
                ],
                [
                    "\u4e91\u5357",
                    81
                ],
                [
                    "\u897f\u85cf",
                    82
                ],
                [
                    "\u4e0a\u6d77",
                    85
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 4,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u590f\u5b63",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5409\u6797",
                    85
                ],
                [
                    "\u4e91\u5357",
                    95
                ],
                [
                    "\u897f\u85cf",
                    92
                ],
                [
                    "\u4e0a\u6d77",
                    90
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 4,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u79cb\u5b63",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5409\u6797",
                    82
                ],
                [
                    "\u4e91\u5357",
                    87
                ],
                [
                    "\u897f\u85cf",
                    88
                ],
                [
                    "\u4e0a\u6d77",
                    82
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 4,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u51ac\u5b63",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5409\u6797",
                    80
                ],
                [
                    "\u4e91\u5357",
                    79
                ],
                [
                    "\u897f\u85cf",
                    78
                ],
                [
                    "\u4e0a\u6d77",
                    77
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 4,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u6625\u5b63",
                "\u590f\u5b63",
                "\u79cb\u5b63",
                "\u51ac\u5b63"
            ],
            "selected": {
                "\u6625\u5b63": true,
                "\u590f\u5b63": true,
                "\u79cb\u5b63": true,
                "\u51ac\u5b63": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5409\u6797",
                "\u4e91\u5357",
                "\u897f\u85cf",
                "\u4e0a\u6d77"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
};
        chart_8c54f47a73e64c9cb4dfe5d08b609622.setOption(option_8c54f47a73e64c9cb4dfe5d08b609622);
    </script>
{% endblock %}